<!DOCTYPE html>
<html lang="fr">

    <head>
        <title>{% block title %}To Do List app{% endblock %}</title>
    </head>

    <body>

        <div class="main-container">
        {% block body %}{% endblock %}
        </div>
    </body>
</html>
